@import 'tailwindcss';

@theme {
  --font-sans:
    Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  --color-background: var(--background);
  --color-background-fg: var(--background-fg);
  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);
  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);
  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);
}

@layer base {
  :root {
    --background: #e8d8c4;
    --background-fg: #561c24;
    --accent: #c7b7a3;
    --accent-fg: #561c24;
    --primary: #561c24;
    --primary-fg: #ffffff;
    --secondary: #6d2932;
    --secondary-fg: #ffffff;
    --scrollbar: #3f141a;
    --scrollbar-fg: #7d3232;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-fg);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-fg);
}

@supports (-moz-appearance: none) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-fg) var(--scrollbar);
  }
}
