@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e8d8c4;
    --background-fg: #561c24;
    --accent: #c7b7a3;
    --accent-fg: #561c24;
    --primary: #561c24;
    --primary-fg: #ffffff;
    --secondary: #6d2932;
    --secondary-fg: #ffffff;
  }
}
