@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e8d8c4;
    --background-fg: #561c24;
    --accent: #c7b7a3;
    --accent-fg: #561c24;
    --primary: #561c24;
    --primary-fg: #ffffff;
    --secondary: #6d2932;
    --secondary-fg: #ffffff;
    --scrollbar: #3f141a;
    --scrollbar-fg: #7d3232;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-fg);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-fg);
}

@supports (-moz-appearance: none) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-fg) var(--scrollbar);
  }
}
